In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('routes.txt')

In [3]:
df.head()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color,route_text_color
0,4089,1,1230,Sussuarana x Barra R1.,NaN,3,NaN,NaN
1,4450,1,1321,São Marcos x Barroquinha,NaN,3,NaN,NaN
2,4518,1,1103,Alto do Cruzeiro/Pernambués x Shop.Bela Vista/...,NaN,3,NaN,NaN
3,4523,1,1405,Estação Pirajá x Cajazeiras 8,NaN,3,NaN,NaN
4,4524,1,1137,Pernambués x Barra,NaN,3,NaN,NaN

In [4]:
df.route_short_name.nunique()

412

In [5]:
stops = pd.read_csv('stops.txt')

In [7]:
stops.head()

,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,43968810_S,R. São Cristóvão 2 - Sussuarana Salvador - BA ...,SUSSUARANA VELHA,-12.931565,-38.444393,NaN,NaN,1,NaN
1,43968810,R. São Cristóvão 2 - Sussuarana Salvador - BA ...,SUSSUARANA VELHA,-12.931565,-38.444393,NaN,NaN,0,43968810_S
2,47566106_S,Av. Ulysses Guimarães 4067 - Sussuarana Salvad...,NaN,-12.933859,-38.446774,NaN,NaN,1,NaN
3,47566106,Av. Ulysses Guimarães 4067 - Sussuarana Salvad...,NaN,-12.933859,-38.446774,NaN,NaN,0,47566106_S
4,44782337,Av. Ulysses Guimarães 4314-4322 - Novo Horizon...,NaN,-12.935150,-38.440578,NaN,NaN,0,NaN

In [8]:
stops.parent_station.nunique()

108

In [24]:
raw = pd.concat([pd.read_parquet('/mnt/data/sobe_desce/04_2024/2024-04-01/validador/uso-ottrans-ccr.parquet'),
                 pd.read_parquet('/mnt/data/sobe_desce/04_2024/2024-04-01/validador/uso-plataforma-ccr.parquet')], ignore_index=True)

In [25]:
raw.codcartao.nunique()

433397

In [26]:

raw_metro = pd.read_parquet('/mnt/data/sobe_desce/04_2024/2024-04-04/validador/uso-metro-ccr.parquet')

In [27]:
raw_metro.codcartao.nunique()

226667

In [28]:
raw_metro.shape

(348737, 12)

In [29]:
raw_metro = pd.read_parquet('/mnt/data/sobe_desce/03_2024/2024-03-04/validador/uso-brt-ccr.parquet')

In [19]:
raw_metro.codcartao.nunique()

32464

In [21]:
raw_metro.shape

(50004, 12)