In [2]:
import os
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None)

In [5]:
inputp = 'raw/GTFS_INTEGRA_SALVADOR2/'
files = os.listdir(inputp)
files

['calendar_dates.txt',
 'trips.txt',
 'frequencies.txt',
 'shapes.txt',
 'feed_info.txt',
 'stops.txt',
 'fare_attributes.txt',
 'calendar.txt',
 'Untitled.ipynb',
 '.ipynb_checkpoints',
 'fare_rules.txt',
 'routes.txt',
 'agency.txt',
 'stop_times.txt']

In [10]:
agency = pd.read_csv(f'{inputp}agency.txt')
agency['agency_name'] = ['company_I', 'company_II']
agency['agency_url'] = ['www.', 'www.']
agency.head()

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,1,company_I,www.,America/Sao_Paulo,pt,NaN
1,2,company_II,www.,America/Sao_Paulo,pt,NaN

In [11]:
agency.to_csv('agenci.csv')

In [12]:
routes = pd.read_csv(f'{inputp}routes.txt')
routes.head()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color,route_text_color
0,4089,1,1230,Sussuarana x Barra R1.,NaN,3,NaN,NaN
1,4450,1,1321,São Marcos x Barroquinha,NaN,3,NaN,NaN
2,4518,1,1103,Alto do Cruzeiro/Pernambués x Shop.Bela Vista/...,NaN,3,NaN,NaN
3,4523,1,1405,Estação Pirajá x Cajazeiras 8,NaN,3,NaN,NaN
4,4524,1,1137,Pernambués x Barra,NaN,3,NaN,NaN

In [35]:
routes.shape

(412, 8)

In [14]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   route_id          412 non-null    int64
 1   agency_id         412 non-null    int64
 2   route_short_name  412 non-null    object
 3   route_long_name   412 non-null    object
 4   route_desc        0 non-null      float64
 5   route_type        412 non-null    int64
 6   route_color       0 non-null      float64
 7   route_text_color  0 non-null      float64
dtypes: float64(3), int64(3), object(2)
memory usage: 25.9+ KB

In [16]:
cols = ['route_id', 'agency_id', 'route_short_name', 'route_long_name',
        'route_type']

In [17]:
routes[cols][:5].to_csv('route.csv', index=False)

## Trips

In [18]:
trips = pd.read_csv(f'{inputp}trips.txt')
trips.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,4089,26082_D_1046761,1046761_D_1_0,*SUSSUARANA X BARRA R1 VIA COMÉRCIO/C.GRANDE,0,4089_001M,26082_I
1,4089,26082_D_1046761,1046761_D_1_1,*BARRA R1 X SUSSUARANA VIA GARIBALDI/ITAIGARA,1,4089_001M,26082_V
2,4089,26082_D_1046761,1046761_D_2_0,*SUSSUARANA X BARRA R1 VIA COMÉRCIO/C.GRANDE,0,4089_002M,26082_I
3,4089,26082_D_1046761,1046761_D_2_1,*BARRA R1 X SUSSUARANA VIA GARIBALDI/ITAIGARA,1,4089_002M,26082_V
4,4089,26082_D_1046761,1046761_D_3_0,*SUSSUARANA X BARRA R1 VIA COMÉRCIO/C.GRANDE,0,4089_002T,26082_I

In [36]:
trips.shape

(51615, 7)

In [20]:
cols = ['route_id', 'service_id', 'trip_id', 'direction_id', 'block_id', 'shape_id']

In [21]:
trips[cols][:5].to_csv('trips.csv', index=False)

# Stops

In [22]:
stops = pd.read_csv(f'{inputp}stops.txt')
stops.head()

,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,43968810_S,R. São Cristóvão 2 - Sussuarana Salvador - BA ...,SUSSUARANA VELHA,-12.931565,-38.444393,NaN,NaN,1,NaN
1,43968810,R. São Cristóvão 2 - Sussuarana Salvador - BA ...,SUSSUARANA VELHA,-12.931565,-38.444393,NaN,NaN,0,43968810_S
2,47566106_S,Av. Ulysses Guimarães 4067 - Sussuarana Salvad...,NaN,-12.933859,-38.446774,NaN,NaN,1,NaN
3,47566106,Av. Ulysses Guimarães 4067 - Sussuarana Salvad...,NaN,-12.933859,-38.446774,NaN,NaN,0,47566106_S
4,44782337,Av. Ulysses Guimarães 4314-4322 - Novo Horizon...,NaN,-12.935150,-38.440578,NaN,NaN,0,NaN

In [37]:
stops.shape

(2975, 9)

In [24]:
cols = ['stop_id', 'stop_name',  'stop_lat', 'stop_lon', 'location_type', 'parent_station']

In [25]:
stops[cols][:5].to_csv('stops.csv', index=False)

In [31]:
stops_times = pd.read_csv(f'{inputp}stop_times.txt')
stops_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type
0,1046761_D_1_0,08:30:00,08:30:00,43968810,1,NaN,0,0
1,1046761_D_1_0,08:31:41,08:31:41,47566106,2,NaN,0,0
2,1046761_D_1_0,08:33:49,08:33:49,44782337,3,NaN,0,0
3,1046761_D_1_0,08:34:55,08:34:55,44784470,4,NaN,0,0
4,1046761_D_1_0,08:35:44,08:35:44,44784471,5,NaN,0,0

In [32]:
stops_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679961 entries, 0 to 1679960
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   trip_id         1679961 non-null  object
 1   arrival_time    1679961 non-null  object
 2   departure_time  1679961 non-null  object
 3   stop_id         1679961 non-null  int64
 4   stop_sequence   1679961 non-null  int64
 5   stop_headsign   0 non-null        float64
 6   pickup_type     1679961 non-null  int64
 7   drop_off_type   1679961 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 102.5+ MB

In [33]:
cols = ['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence',  'pickup_type', 'drop_off_type']

In [34]:
stops_times[cols][:5].to_csv('stop_times.csv', index=False)

In [38]:
stops_times.shape

(1679961, 8)